name: Build (Irc)

on:
  push:
    branches: [ "master" ]
    paths:
    - 'MiniTwitch.Irc/**'
    - 'MiniTwitch.Common/**'
  pull_request:
    branches: [ "master" ]
    paths:
    - 'MiniTwitch.Irc/**'
    - 'MiniTwitch.Common/**'

jobs:

  build:
  
    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    - name: Install .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x

    - name: Build
      run: |
          cd .\MiniTwitch.Irc\
          dotnet build -c Release -p:CI=false
          